Otaniemi_small-ablation-2026-04-14-215353/
Project/tomminfilet/log_euc_9bts_noangle.json
Project/tomminfilet/small_otaniemi_matlab_mat 1.json

# Ignore the output directory, which contains intermediate results and trained models.